'.CodeMirror.vim-mode.normal-mode textarea':
   'escape': 'mycmd:reset-normal-mode'

'.CodeMirror.vim-mode.insert-mode textarea':
    'escape': 'mycmd:escape'
    'ctrl-d': 'editor:delete-char-after'
    'ctrl-v': 'core:paste'
    'ctrl-V': 'paste-url:paste-url'

'.CodeMirror.vim-mode:not(.insert-mode):not(.key-buffering) textarea':
    '0': 'vim:move-to-first-character-of-line'
    'ctrl-e': 'vim:move-to-last-character-of-line'
    'U': 'core:redo'
    '1j': 'vim:move-down-by-display-lines'
    '1k': 'vim:move-up-by-display-lines'
    'enter': 'mycmd:open-cursor-link'
    'ctrl-m': 'mycmd:open-current-line-links'
    'ctrl-k': 'mycmd:open-current-line-links'
    'ctrl-q': 'core:find'
    'ctrl-n': 'sidetoc:jump-next'
    'ctrl-p': 'sidetoc:jump-prev'
    'ctrl-r': 'switch-note:open'
    'ctrl-o': 'core:navigate-back'
    'ctrl-i': 'core:navigate-forward'
    'H': 'core:navigate-back'
    'L': 'core:navigate-forward'
    'ctrl-t': 'vtab:add'
    'ctrl-f': 'vtab:next'
    'ctrl-b': 'vtab:prev'
    'ctrl-4': 'short-link:toggle'
    'ctrl-V': 'paste-url:paste-url'

'.CodeMirror.vim-mode.visual-mode textarea':
    'v': 'vim:move-to-last-character-of-line'

'body':
    'ctrl-@': 'mycmd:select-active'
    'ctrl-:': 'mycmd:select-index'
    'ctrl-q': 'core:find'
    'ctrl-enter': 'editor:focus'
    'cmd-s': 'view:toggle-side-by-side'
    'ctrl-3': 'view:toggle-preview'
    'ctrl-s': 'core:save-note'
    'ctrl-1': 'mycmd:toggle-distraction-free'
    'ctrl-2': 'mycmd:toggle-sidebar'
    'cmd-n' : false
    'ctrl-r': 'switch-note:open'
    'ctrl-L': 'sidetoc:width-decrease'
    'ctrl-K': 'sidetoc:width-increase'
    'ctrl-0': 'sidetoc:width-reset'
    'ctrl-.': 'mycmd:open-next-note'
    'ctrl-,': 'core:open-prev-note'
    'ctrl-5': 'copy-notelink-to-clipboard:copy'

'.note-list-search-bar input':
    'ctrl-w': 'native!'

'.mde-preview':
    'ctrl-n': 'sidetoc:jump-next'
    'ctrl-p': 'sidetoc:jump-prev'
    'ctrl-o': 'core:navigate-back'
    'ctrl-i': 'core:navigate-forward'
    'H': 'core:navigate-back'
    'L': 'core:navigate-forward'
    '/': 'preview-finder:open'
    'n': 'preview-finder:next'
    'N': 'preview-finder:prev'
    'e': 'hitahint:show'
    'ctrl-e': 'hitahint:show'
    'ctrl-t': 'vtab:add'
    'ctrl-f': 'vtab:next'
    'ctrl-b': 'vtab:prev'
