:root {
  --editor-foreground-color: #e0e0e0 !important;
  --editor-background-color: #2e3235 !important;
}

body {
  color: #fafafade;
}

/* エディター */
.editor-layout {
  background-color: #2e3235;
  display: grid;
  position: relative;
  grid-template-columns: minmax(200px, 2fr) minmax(0, 1fr) 40px;
  grid-template-rows: auto auto minmax(0, 1fr) auto;

  .editor-header-layout {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-left: auto;
  }
  .editor-header-layout > button.app-header-button {
    display: none;
  }
  .editor-header-layout > div.editor-header-view-mode {
    display: none;
  }
  .editor-header-more {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 3;
    width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .editor-title-bar-layout {
    position: relative;
    z-index: 2;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    width: 100%;
    min-width: 200px;
    .editor-title-bar-input.ui.input {
      display: flex;
      flex: 1 1 0;
      width: 100%;
      min-width: 0;

      &::before {
        content: "#";
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        margin-left: 12px;
        margin-right: 4px;
        color: rgba(250, 207, 78, 0.5);
        font-size: 1.5em;
      }

      > input[type="text"] {
        display: block;
        flex: 1 1 0;
        width: auto;
        min-width: 0;
        color: #facf4e;
      }
    }
  }
  .editor-meta-layout {
    position: relative;
    z-index: 1;
    overflow: visible;
    grid-column: 2;
    grid-row: 2;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    align-items: center;
    justify-content: flex-start;
    justify-self: end;
    flex-wrap: nowrap;
    white-space: nowrap;

    .note-tags-bar {
      flex: 0 1 auto;
      max-width: 100%;
      flex-wrap: nowrap;

      .note-tags-bar-item-list {
      }

      > .tag-items {
        flex: 0 1 auto;
        min-width: 0;
        overflow-x: auto;
      }
    }
    .note-tags-bar-input {
      flex: 0 0 7em;
      .ui.input {
      }
    }
  }

  .editor-title-bar-layout,
  .editor-meta-layout,
  .editor-header-more {
    border-bottom: 1px solid var(--sidebar-menu-section-separator-color);
    margin-top: -30px;
    padding-bottom: 10px;
  }

  .mde-layout {
    grid-column: 1 / -1;
    grid-row: 3;
    min-height: 0;
  }
  .editor-status-bar-layout {
    grid-column: 1 / -1;
    grid-row: 4;
  }
  .mde-layout {
    .editor {
      .mde {
        .CodeMirror {
          .tok-content {
            color: var(--editor-foreground-color);
            font-weight: normal;
          }
          .tok-heading-1,
          .tok-heading-2,
          .tok-heading-3 {
            font-weight: normal;
            color: #facf4e;
          }
          .md-header-mark {
            color: #facf4e;
            opacity: 0.5;
          }
          /* */
          .cm-line {
            max-width: 720px;
          }
          .md-table {
            max-width: unset;
            background-color: var(--editor-background-color);
          }
          .md-codeblock {
            max-width: unset;
            .tok-heading-1,
            .tok-heading-2,
            .tok-heading-3 {
              font-size: 14px;
              font-weight: normal;
              color: unset;
            }
          }
          /* tok-heading-1 をクラスに持つ要素を子に持つ親要素 */
          .cm-line:has(> .tok-heading-1) {
            background-color: rgba(0, 0, 0, 0.2);
          }
          .cm-link,
          .cm-url {
            color: #77ccbd;
          }
          .md-link-mark {
            color: black !important;
            font-size: 5pt;
            margin-left: -2px;
          }
          .tok-link {
            text-decoration: none;
          }
          .cm-strong {
            color: #facf4e;
            font-weight: normal;
          }
          .md-emphasis-mark {
            color: rgba(255, 165, 0, 0.5);
            font-size: 5pt;
          }
          /* リスト形式の表示(マーク)変更 */
          .md-list-mark {
            color: transparent;
          }
          .md-list-mark::before {
            content: "•";
            margin-right: -7px;
            color: #fac4fe !important;
          }
          .cm-placeholder {
            display: none !important;
          }
          .md-task-done-text {
            text-decoration: none;
          }
          .cm-tooltip {
            display: none;
          }
          .tok-quote {
            color: rgba(250, 207, 78, 0.9);
          }
          .md-codeblock-end {
            padding-bottom: 0px;
          }
          .md-codeblock-copy-button {
            display: none;
          }
          .cm-image-widget-backdrop {
            justify-content: left;
          }
          .md-inline-code {
            // padding: 0px;
            padding-left: 4px;
            padding-right: 4px;
            border: 0px;
            color: #e0e0e0;
            background-color: rgba(195, 195, 195, 0.2);
          }
          .short-link-mark {
            font-size: 80%;
          }
          .cm-searchMatch {
            text-decoration: underline #e7b008;
            text-underline-offset: 3px;
            text-decoration-thickness: 3px;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
          }
          .cm-image-widget {
            max-width: 600px;
          }
        }
      }
    }
  }
}

.mde-preview-container {
  .mde-preview {
    font-family: "UD Digi Kyokasho N-R", HackGen;
    .metadata {
      display: none;
    }
    * {
      line-height: 160%;
    }
    h1,
    h2,
    h3,
    h4 {
      font-family: HackGen;
    }
    h2,
    p,
    ul,
    ol,
    li {
      max-width: 710px;
    }
    h1,
    h2,
    h3 {
      font-weight: normal;
      color: #facf4e !important;
      border-bottom: none;
    }
    h1::before {
      color: rgba(250, 207, 78, 0.5) !important;
      content: "# ";
      padding-right: 1px;
    }
    h2::before {
      color: rgba(250, 207, 78, 0.5) !important;
      content: "## ";
      padding-right: 1px;
    }
    p {
      line-height: 170%;
    }
    a {
      color: #77ccbd;
    }
    li {
      list-style-type: disc;
      line-height: 170%;
    }
    li::marker {
      color: #facf4e !important;
    }
    li:not([class]) {
      margin-left: -5px;
    }
    ul {
      margin-left: -5px;
    }
    p + ul {
      margin-top: -15px;
    }
    .task-list-item.checked {
      text-decoration: none;
    }
    code {
      border: 0px;
      color: #e0e0e0;
      background-color: rgba(195, 195, 195, 0.2);
      font-size: 100%;
    }
    .codeblock {
      pre {
        padding: 8px;
        background-color: #36383a;
      }
      .mde-preview-code-body {
        background-color: unset;
        font-size: 115%;
      }
    }
    .mde-preview-code-body {
      .tok-heading-2 {
        font-weight: unset;
        color: unset;
      }
    }
    blockquote {
      color: rgba(250, 207, 78, 0.9);
    }
    table th {
      background-color: gray;
      font-weight: normal;
    }
    table td,
    table th {
      border: 1px solid darkgray;
    }
    strong {
      color: #facf4e;
      font-weight: normal;
    }
    img {
      width: 600px;
    }
  }
}

/* ノートリスト */
.note-list-bar-layout {
  background-color: #34393d;
  .note-list-bar-layout-content {
    background-color: #34393d;
  }
  .note-list-header,
  .note-list-search-bar,
  .note-list-search-bar * {
    background-color: #34393d !important;
  }
  input {
    background-color: #2e3235 !important;
  }
  /* サイドバー開閉ボタン */
  div.note-list-header > button:nth-of-type(2) {
    display: none;
  }
  .note-list-bar {
    .summary {
      display: none;
    }
  }
}

/* サイドバー */
.sidebar-layout {
  .sidebar-layout-content {
    background-color: #2e3235;
    .status-message {
      display: none;
    }
    .status-additional {
      display: block !important;
    }
    .sidebar-sync-status-view {
      padding: 0px;
      flex: 0 0 20px;
      .status-wrapper {
        width: 100%;
        flex: unset !important;
        flex-direction: unset;
      }
      .dropdown {
        color: var(--sidebar-sync-status-view-detail-color);
      }
    }
  }
  .content {
    color: rgba(250, 250, 250, 0.87);
  }
  .sidebar-layout-content {
    width: 150px !important;
    min-width: 150px !important;
    .accessory-count {
      display: none;
    }
  }
}

/* カーソル */
.vim-mode-normal .cm-fat-cursor {
  /* 背面の装飾文字を見せるため、Vim が複製する文字を隠す */
  color: transparent !important;
}

.cm-cursorLayer {
  animation: none !important;
}

/* カーソル色 */
.editor .mde .cm-editor .cm-scroller.cm-vimMode .cm-fat-cursor {
  background: rgba(255, 168, 125, 0.6) !important;
}

/* カーソル色 (非アクティブ) */
.editor
  .mde
  .cm-editor:not(.cm-focused)
  .cm-scroller.cm-vimMode
  .cm-fat-cursor {
  background: transparent !important;
  outline: solid 1px rgba(255, 168, 125, 0.7) !important;
}

/* insert mode */
.editor .mde .cm-editor .cm-cursor {
  border-left: 2px solid rgba(255, 168, 125, 1) !important;
}

/* 選択色 */
.cm-selectionBackground {
  background: #465463 !important;
  // background: rgba(255, 168, 125, 0.4) !important;
}
