.CodeMirror-cursor {
  border-left: 2px solid rgba(255, 168, 125, 0.7);
}
.cm-fat-cursor .CodeMirror-cursor {
  background-color: rgba(255, 168, 125, 0.7) !important;
}

.editor-meta-layout {
  margin-top: -8px;
}

.CodeMirror-scroll,
.mde-preview {
  padding-top: 0px !important;
}

.editor {
  .CodeMirror {
    * {
      cursor: default;
    }
    span.cm-formatting.cm-formatting-task.cm-property {
      color: green;
    }
    .CodeMirror-placeholder {
      display: none;
    }
    .cm-em {
      font-style: normal !important;
    }
    pre.quote {
      display: inline-block;
      text-indent: -1em;
      padding-left: 1em;
    }
    pre {
      max-width: 720px;
    }
    pre.list-line-1 {
      max-width: 700px;
    }
    pre.list-line-2 {
      max-width: 690px;
    }
    pre.list-line-3 {
      max-width: 680px;
    }
    pre.table-row,
    pre.gfm-codeblock {
      max-width: none;
    }
  }
  img.inline-widget {
    width: 50%;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
}

.mde-preview {
  // reviese for 5.8.1
  li > p,
  li > label > p {
    margin-top: unset;
    margin-bottom: unset;
  }

  padding-top: 0px;
  margin-top: -2px;
  .metadata {
    display: none;
  }
  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  // italic
  em {
    font-style: normal;
  }

  // checkbox
  input[type="checkbox"] {
  }

  .ui.checkbox input:checked ~ .box:after,
  .ui.checkbox input:checked ~ label:after {
    color: green;
  }
  // preview not checked
  .ui.checkbox .box:before,
  .ui.checkbox label:before {
    border: 1px solid rgba(192, 80, 77, 0.5);
  }
  .mde-preview-scroll-past-end {
    height: 400px !important;
  }
  // width
  h2,
  p,
  ul,
  ol,
  li {
    max-width: 720px;
  }
  ol + ul {
    margin-left: 20px;
    margin-top: -15px;
  }
  p + ol {
    margin-top: -15px;
  }
  p + ul {
    margin-top: -15px;
  }
  li p + ul {
    margin-top: 0px;
  }
  li label p + ul {
    margin-top: -15px;
  }
  .codeblock pre,
  pre {
    border-radius: 0px;
  }
}

body[class*="theme-material-dark-mod-syntax"] {
  .editor-window-bar {
    margin-left: 50%;
  }
  .editor .CodeMirror {
    .cm-header {
      font-weight: normal;
    }
    .cm-header-2 {
      font-size: 1.5em;
    }
    .gfm-codeblock {
      border-left: 2px solid rgba(250, 207, 78, 0.5);
      font-size: 90%;
      padding-left: 16px;
    }
    .gfm-codeblock-begin,
    .gfm-codeblock-end {
      // padding-left: 5px !important;
    }
    .cm-em {
      color: #e0e0e0;
    }
    .cm-formatting-quote {
      color: gray !important;
      font-weight: bold;
    }
    .cm-formatting-list-ol {
      color: orange;
    }
    .cm-quote {
      font-style: normal;
      // color: #facf4e;
      color: rgba(250, 207, 78, 0.9);
    }
    .cm-formatting-code {
      background-color: unset !important;
      border: none !important;
    }
    .cm-inline-code {
      font-size: 90%;
      color: #facf4e;
      border: solid 1px rgba(255, 255, 255, 0.15);
      background-color: rgba(110, 118, 129, 0.4);
    }
    .cm-searching {
      border: none;
      padding: 0px;
      background: rgba(250, 207, 78, 0.5);
    }
    .cm-strong {
      color: orange;
      font-weight: normal;
    }
    .quote {
      border-left: 4px solid rgba(255, 255, 255, 0.1);
    }
    .cm-comment {
      color: darkgray;
    }
  }
  .list-line-1 {
    padding-left: 1.6em !important;
    text-indent: -1.05em !important;
  }
  .list-line-2 {
    padding-left: 2.7em !important;
    text-indent: -2.05em !important;
  }
  .list-line-3 {
    padding-left: 3.4em !important;
    text-indent: -3.05em !important;
  }
  .list-line-4 {
    padding-left: 4.6em !important;
    text-indent: -4.05em !important;
  }
  .ui.dropdown .menu .selected.item,
  .ui.dropdown.selected {
    background: rgba(250, 207, 78, 0.5);
  }
}

body[class*="dark-ui"] {
  .note-list-bar {
    .note-list-item-view.active {
      background-color: rgba(255, 165, 0, 0.2) !important;
      .date {
        color: #ddd !important;
      }
    }
  }
  .note-list-search-bar {
    div input {
      width: 90%;
    }
  }
  .mde-preview {
    font-family: "UD Digi Kyokasho N-R", HackGen;
    color: #dddddd;

    * {
      line-height: 140%;
    }

    .metadata + * {
      margin-top: 9px;
    }

    a {
      color: #4ebaaa;
    }
    em {
      color: #e0e0e0;
    }
    strong {
      color: orange;
      font-weight: normal;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "UD Digi Kyokasho N-R", HackGen;
      font-weight: normal;
      color: #facf4e !important;
    }

    h1 {
      background: rgba(0, 0, 0, 0.2);
      border-bottom: none;
    }

    h1::before {
      color: rgba(250, 207, 78, 0.5) !important;
      content: "# ";
    }

    h2 {
      width: 80%;
      border-bottom: none;
    }

    h2::before {
      color: rgba(250, 207, 78, 0.5) !important;
      content: "## ";
    }

    h3::before {
      color: rgba(250, 207, 78, 0.5) !important;
      content: "### ";
    }

    li code,
    p code {
      border: solid 1px rgba(255, 255, 255, 0.15);
      border-radius: 0.25em;
      color: #facf4e;
      font-size: 90%;
    }

    li::marker {
      color: #facf4e !important;
    }

    pre {
      border-left: 2px solid rgba(250, 207, 78, 0.5);
      font-size: 90%;
    }
    blockquote {
      // color: #facf4e;
      color: rgba(250, 207, 78, 0.9);
    }
    .cm-tag {
      color: #fa5788;
    }
    .cm-atom {
      color: #99d066;
    }
    .cm-attribute {
      color: #cf6edf;
    }
    .cm-meta {
      color: #707d8b;
    }
    div > p + ul {
      margin-top: -15px;
    }
    ul {
      padding-left: 1.2em;
    }

    li.task-list-item > label > ul {
      margin-left: 10px;
    }

    .contains-task-list {
      margin-left: 6px;
    }

    .ui.checkbox input:checked ~ .box:after,
    .ui.checkbox input:checked ~ label:after {
      color: #4ebaaa;
      margin-top: -4px;
    }
    .ui.checkbox input:checked ~ label:before {
      border: 1px solid green;
    }

    .ui.checkbox .box:before,
    .ui.checkbox label:before {
      border: 1px solid orange;
      background: rgba(255, 0, 0, 0.1);
    }

    .cm-property {
      color: #facf4e;
    }
    .cm-def {
      color: #fa5788;
    }
    .cm-variable-2 {
      color: inherit;
    }
    .cm-keyword {
      color: #cf6edf;
    }
    .cm-string {
      color: #99d066;
    }
    .cm-qualifier {
      color: #cf6edf;
    }
    .cm-operator {
      color: #56c8d8;
    }
    .cm-comment {
      font-style: normal;
    }
    .code-title {
      background-color: #5c5c5c;
      width: fit-content;
    }
  }
}

.sidebar-layout-content {
  width: 150px !important;
  min-width: 150px !important;
  .accessory-count {
    display: none;
  }
  .status-message {
    display: none;
  }
  .status-additional {
    display: block !important;
  }
  .sidebar-sync-status-view {
    padding: 0px;
    flex: 0 0 20px;
    .status-wrapper {
      width: 100%;
      flex: unset !important;
      flex-direction: unset;
    }
    .dropdown {
      color: var(--sidebar-sync-status-view-detail-color);
    }
  }
  .sidebar-workspace-title {
    display: none;
  }
}

.modal-layout {
  .ui.legacy.modal,
  .ui.legacy.page.dimmer > .ui.modal {
    top: 20%;
  }

  .ui.search.dropdown .menu {
    max-height: 600px;
  }
}

.editor-floating-actions {
  display: none !important;
}

@import "./styles.local.less";
