.editor {
  .CodeMirror {
    span.cm-formatting.cm-formatting-task.cm-property {
      color: green;
    }
  }
}

.mde-preview {
  padding-top: 0px;
  margin-top: -2px;
  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  // preview checked
  .ui.checkbox input:checked ~ .box:after,
  .ui.checkbox input:checked ~ label:after {
    color: green;
  }
  // preview not checked
  .ui.checkbox .box:before,
  .ui.checkbox label:before {
    border: 1px solid rgba(192, 80, 77, 0.5);
  }
  .mde-preview-scroll-past-end {
    height: 400px !important;
  }
  // italic
  em {
    font-style: normal;
  }
}

.sidebar-layout {
  width: 150px !important;
  min-width: 150px !important;
  .accessory-count {
    display: none;
  }
  .status-message {
    display: none;
  }
  .status-additional {
    display: block !important;
  }
  .sidebar-sync-status-view {
    padding: 0px;
    flex: 0 0 20px;
    .status-wrapper {
      width: 100%;
      flex: unset !important;
      flex-direction: unset;
    }
  }
}

@import "./styles.local.less";
